
/** Clearfix */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}




/* MEIN CODE */

body {
    padding-left: 3em;
}

input, textarea {
    font-size: 1em;
}


input[type="text"], textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 0.1em solid #aaa;
    padding: 0.25em;

    background-color: red;

}

textarea {
    min-height: 5em;
    resize: none;
}

.qColumn {
    float: left;
    margin-right: 2em;

    background-color: orange;
}

.qColumn > h3 {
    margin-top: 0;
}

.qInputTable {
    min-width: 25em;

    background-color: lightgreen;
}

.qInputTable .qInputTableRow {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}


.qInputTable .qInputTableRow > span {
    float: left;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    max-width: 8em;
}

.qInputTable .qInputTableRow > div {
    /*Abstand von anfang der linken seite bis zu der linie */
    margin-left: 9em;
}

.qInputTable.small {
    min-width: initial;
    width: 15em;

    background-color: grey;
}

.qInputTable.small .qInputTableRow > span {
    float: none;
    font-weight: bold;
}

.qInputTable.small .qInputTableRow > div {
    margin-left: 0;
}


.qInputTable .qInputTableRow label {
    display: inline-block;
    margin-right: 1em;
    padding-top: 0;
}

.qInputTable .qInputTableRow label:last-of-type {
    padding-bottom: 0.35em;
}

.qInputTable .qInputTableRow input[type="radio"] {
    margin-top: 0;
    margin-bottom: 0;
}

.qRequired > span:after {
    content: "*";
    color: red;
    padding-left: 0.2em;
}

/* klasse fur einzelne attribute auf einer zeile */
.qFullWidth {
    display: block !important;
    width: auto;

    background-color: lightblue;
}

.qInputTable hr {
    border: 0.1em solid rgba(0,0,0,0.25);
}


.qHidden {
    display: none !important;
}

.qIllnesses {
    margin-right: 2em;
    margin-bottom: 0.5em;

    background-color: yellow;
}

.qIllnesses > .qColumn {
    margin-bottom: 0.5em;
    width: 15em;
}

.qAnswers {
    padding-left: 2em;
}

.qAnswers input {
    margin-top: 0.25em;
}

.qAnswers.horizontal label {
    display: inline-block;
    margin-right: 1em;
}

.qAnswers.vertical label {
    display: block;
}

.qSpaceBelow {
    margin-bottom: 0.5em;
}


.qLineLeft {
    float: left;
    padding-right: 2em;

    background-color: violet;

}

.qCommunication {
    background-color: darkgreen;
}

.qSection {
    background-color: pink;
}

.qColumnsInRow {
    height: 6em;
}

/*
@media (min-width: 65em) {
    .qInputTable .qInputTableRow > span {
        max-width: 10em;
    }

    .qInputTable .qInputTableRow > div {
        margin-left: 11em;
    }

    .qInputTable {
        min-width: 30em;
    }
}
*/

@media print {
    body {
        font-size: 0.7em;
    }
}

@media screen {
    body {
        font-size: 1em;
    }
}














