
/** Clearfix */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}




/* MEIN CODE */


body {
    font-family: "Helvetica";
    color: black;
    background-color: grey;
}

input {
    font-size: 1em;
}

.qColumn {
    float: left;
    margin-right: 2em;
}

.qInputTable {
    min-width: 25em;
}

.qInputTable > .qInputTableRow {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.qInputTable > .qInputTableRow > div {
    margin-left: 8em;
}

.qInputTable > .qInputTableRow > div > input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 0.1em;
    padding: 0.25em;
}

.qInputTable > .qInputTableRow label {
    display: inline-block;
    margin-right: 1em;
    padding-top: 0.35em;

}

.qInputTable > .qInputTableRow input[type="radio"] {
    margin-top: 0;
    margin-bottom: 0;
}

.qInputTable > .qInputTableRow > span {
    float: left;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}

.qRequired > span:after {
    content: "*";
    color: red;
    padding-left: 0.2em;
}